@charset "UTF-8";
/* CSS Document */
.wrapper{
	/*max-width: 1024px;*/
	margin: 0 auto;
	font: 1.2em 'Montserrat-light', sans-serif;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.wrapper > * {
	border: none;
	background-color: white;
	border-radius: 5px;
}

/*we name areas using the grid-area properly */

.main-head{
	grid-column: 2 / 4;
}

.main-head img {
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.main-nav{
	grid-column: 1 / 5;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	letter-spacing: 1px;
	word-spacing: 10px;
}

li{
	display: inline;
	font-size: 15px;
}
li a{
	text-decoration: none;
	color: black;
}
li a:hover{
	background-color:#9FBDD3; 
	color:white; 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
	margin-top: 5%;
	margin-bottom: 5%;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1 / 5;
}

.kontakt1{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	font-size: 0.7em;
}

.kontakt2{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	font-size: 0.5em;
	line-height: 0.5;
}
.tekst{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}

.kontakt3{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}
.kontakt4{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}
.woman{
	grid-column: 2 / 4;	
}

.sectioncenter{
	text-align: center;
	grid-column: 1 / 5;
	padding-bottom: 30px;
	}

.sectiongrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	grid-column: 1 / 5;
}

/*section h1 {
	grid-column: 1 / 3;
}*/

.main-footer{
	grid-column: 1 / 5;
	text-align: center;
	color: black;
	background-color: #e5e5e5;
}

.footer1 {
	grid-column: 1 / 5;
	font-size: 13px;
}

.footer2{
	grid-column: 1 / 5;
	font-size: 13px;
	color: black;
}

.footer3{
	grid-column: 1 / 5;
	font-size: 13px;
	color: black;
}







@media (min-width: 700px){
	/*.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
			"header  header  header"
			"nav     content sidebar"
			"nav     content ad"
			"footer  footer  footer";
		}
	nav ul {
		flex-direction: column;
	}*/
	
.wrapper{
	/*max-width: 1024px;*/
	margin: 0 auto;
	font: 1.2em 'Montserrat-light', sans-serif;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.wrapper > * {
	border: none;
	background-color: white;
	border-radius: 5px;
}


/*we name areas using the grid-area properly */

.main-head{
	grid-column: 1 / 13;
}

.main-head img {
	display: block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.main-nav{
	grid-column: 1 / 13;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	letter-spacing: 1px;
	word-spacing: 10px;
}

li{
	display: inline;
	font-size: 15px;
}
li a{
	text-decoration: none;
	color: black;
}
li a:hover{
	background-color:#9FBDD3; 
	color:white; 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
	margin-top: 5%;
	margin-bottom: 5%;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
}

.kontakt1{
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	font-size: 0.7em;
}

.kontakt2{
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	font-size: 0.5em;
	line-height: 0.5;
}
.tekst{
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}

.kontakt3{
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}
.kontakt4{
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	font-size: 0.7em;
	line-height: 0.5;
}
.woman{
	grid-column: 3 / 7;	
}

.generation{
	grid-column: 7 / 13;
	width: 10%;
}
.sectioncenter{
	text-align: center;
	grid-column: 1 / 13;
	padding-bottom: 30px;
	}

.sectiongrid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	text-align: center;
	grid-column: 1 / 13;
}

.main-footer{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
	text-align: center;
	color: black;
	padding: 1.2%;
	background-color: #e5e5e5;
}

.footer1 {
	grid-column: 1 / 4;
	font-size: 13px;
	align-items: center;
	padding-bottom: 5px;
}

.footer3{
	grid-column: 6 / 8;
	align-items: center;
	font-size: 13px;
	color: black;
}

.footer2{
	grid-column: 9 / 13;
	align-items: center;
	font-size: 13px;
	color: black;
}










