@charset "UTF-8";
/* CSS Document */
.wrapper{
	max-width: 1024px;
	margin: 0 auto;
	font: 1.2em 'Montserrat-light', sans-serif;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr)
}

.wrapper > * {
	border: none;
	background-color: white;
	border-radius: 5px;
}

/*we name areas using the grid-area properly */

.main-head{
	grid-column: 2 / 4;
}

.main-head img {
	margin-left: 15%;
	margin-right: 15%;
}

.main-nav{
	grid-column: 1 / 5;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	letter-spacing: 1px;
	word-spacing: 10px;
}

li{
	display: inline;
	font-size: 15px;
}
li a{
	text-decoration: none;
	color: black;
}
li a:hover{
	background-color:#9FBDD3; 
	color:white; 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
	margin-top: 5%;
	margin-bottom: 5%;
}
main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1 / 5;
}
.h1 {
	grid-column: 2 / 4;
	text-align: center;
	font: 0.7em 'Montserrat', sans-serif;
	font-weight: bold;
	color: #9FBDD3;
	/*border-style: solid;*/
	border-color: #9fbdd3;
}
.forhandler {
	grid-column: 2 / 4;
	padding-bottom: 12%;
}
.koebonline {
	grid-column: 1 / 5;
	text-align: center;
	font: 0.8em 'Montserrat', sans-serif;
	font-weight: bold;
	color: #9FBDD3;
	border-color:#9fbdd3;
}
.knapdecoration{
	text-decoration: none;
	color:white;
}
button {
	grid-column: 2 / 4;
	background-color: #CBB4D6;
	border: none;
	border-radius: 15px;
	color: white;
	padding: 15px 25px;
	height:40px;
	width:100px;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 10px 10px 10px 40px;
	
	font-weight: bold;	
}

.materiale{
	grid-column: 1 / 5;
	text-align: center;
	font: 0.5em 'Montserrat', sans-serif;
	font-weight: bold;
	color: #black;
}
.h2{
	grid-column: 2 / 4;
	text-align: center;
	font: 0.5em 'Montserrat-light', sans-serif;
	color: #black;
	
}

/*section h1 {
	grid-column: 1 / 3;
}*/

.main-footer{
	grid-column: 1 / 5;
	text-align: center;
}

.footer1 {
	grid-column: 1 / 5;
	font-size: 13px;
	color: #9CB3AE;
}

.footer2{
	grid-column: 1 / 5;
	font-size: 13px;
	color: #CBB4D6;

}

.footer3{
	grid-column: 1 / 5;
	font-size: 13px;
	color: #9FBDD3;
}

@media (min-width: 500px){
	.wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 
			"header  header"
			"nav     nav"
			"sidebar content"
			"ad      footer";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 700px){
	.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
			"header  header  header"
			"nav     content sidebar"
			"nav     content ad"
			"footer  footer  footer";
		}
	nav ul {
		flex-direction: column;
	}
}













